venv/
.venv/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

.vscode/
.idea/

.pytest_cache/
.mypy_cache/

.DS_Store

deploy_online.cmd

uploads/*
!uploads/.gitkeep
!uploads/companies/
uploads/companies/*
!uploads/companies/.gitkeep
